**/*.iml
**/.ivy
**/.classpath
**/.project
**/.sass-cache
**/.settings
**/bin
**/build
**/build_gradle
**/dist
**/node_modules
**/node_modules_cache
**/test-coverage
**/tmp
**/.web_bundle_build
.gradle
.idea
/bundles
/gradle-*.properties
/plugins-sdk/**/classes
/plugins-sdk/**/ivy.xml.MD5
/plugins-sdk/**/liferay-hook.xml.processed
/plugins-sdk/build.*.properties
/plugins-sdk/dependencies/**/*.jar
/plugins-sdk/dist
/plugins-sdk/lib
test-results
.devcontainer/.devpod-internal/devcontainer-features.builtin.env
.devcontainer/.devpod-internal/Dockerfile-with-features
.devcontainer/.devpod-internal/0/devcontainer-feature.json
.devcontainer/.devpod-internal/0/devcontainer-features-install.sh
.devcontainer/.devpod-internal/0/devcontainer-features.env
.devcontainer/.devpod-internal/0/install.sh
.devcontainer/.devpod-internal/0/NOTES.md
.devcontainer/.devpod-internal/0/README.md
.devcontainer/.devpod-internal/1/devcontainer-feature.json
.devcontainer/.devpod-internal/1/devcontainer-features-install.sh
.devcontainer/.devpod-internal/1/devcontainer-features.env
.devcontainer/.devpod-internal/1/install.sh
.devcontainer/.devpod-internal/2/devcontainer-feature.json
.devcontainer/.devpod-internal/2/devcontainer-features-install.sh
.devcontainer/.devpod-internal/2/devcontainer-features.env
.devcontainer/.devpod-internal/2/install.sh
configs/common/deploy/activation-key-dxpdevelopment-7.2-developeractivationkeys.xml
.vscode/settings.json
